body {
  margin: 0;
  padding: 0;
  background-color: #611232;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.container {
  padding: 20px;
}

.logo {
  height: 40vh; /* LOGO OCUPA 40% de la altura de la ventana */
  max-height: 300px; /* Para que no sea exageradamente grande */
  width: auto;
  margin-bottom: 40px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 320px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: white;
  color: #611232;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 14px;
  transition: background 0.3s ease;
}

.links a:hover {
  background-color: #f0f0f0;
}

.links i {
  font-size: 22px;
}
